.THIS .Objclass {
    margin:auto; 
    width:30%;
}
.THIS .Fieldclass{
    margin:auto; 
    width:30%;
}
.THIS .Filterclass{
    width:30%;
}
.THIS .Opclass{ 
    width:15%;
}
.THIS .Inputclass{
    width:30%;
}
.THIS .Qryclass{
    margin:auto; 
    width:90%;
}